{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% include 'menu.html.twig' %}
    <h1>{{ book.title }}</h1>
    <ul>
        <li>{{ book.title }}</li>
        <li>
            <a href="/author/{{ author.id }}">
                {{ author.firstname }} {{ author.lastname }}
            </a>
        </li>
        <li>Genre : </li>
        {% for genre in genres %}
            <ul>
                <li>
                    <a href="/genre/{{ genre.id }}">
                        {{ genre.name }}
                    </a>
                </li>
            </ul>
        {% endfor %}
    </ul>
    <a href="/"><button>Retour</button></a>
</div>
{% endblock %}
